<% @video = admin_session_cell %>
<% if not @video.processed %>
  <% header_color = "background-color: rgb(117, 69, 153);" %>
<% elsif @video.displayed %>
  <% header_color = "background-color: rgb(161, 222, 241);" %>  
<% else %>
  <% header_color = "background-color: rgb(229, 132, 0);" %>
<% end %>
<div class="admin-video-cell" data-id="<%=@video.id%>">
  <div class="admin-video-title" style="<%=header_color%>">
    <p><%=@video.title%></p>
  </div>

  
  <div class="row">
    <div class="span3">
      <div class="admin-video-cell-options">

        <%= button_to "Delete", {:controller => :videos, :action => "delete", :id => @video.id}, :method => :delete, :class => "btn btn-small btn-danger btn-block" %>
        <a href="/admin/videos/<%=@video.id%>" class="btn btn-small btn-info btn-block">Edit</a><br/>
        <%if @video.processed %>
          <%= form_for @video, :url => "/videos/#{@video.id}", :method => :put do |form| %>

            <%= form.hidden_field :displayed, :value => (!@video.displayed) %>

            <% if @video.displayed %>
              <%= form.submit "Hide Video", :class => "btn btn-small btn-success btn-block"  %>
            <% else %>
              <%= form.submit "Show Video", :class => "btn btn-small btn-warning btn-block" %>
            <% end %>

          <% end %>
        <% end %>
        <br /><br />
        <%= form_for @video, :url => "/videos/add_photo", :html => { :multipart => true } do |form| %>

          <p> Upload a photos </p><br/>
          
          <%= form.file_field :photo, :multiple => true, :accept => 'image/*' %>
          <%= hidden_field_tag(:video_id, @video.id) %><br/>

          <%= submit_tag "Upload Photos!", :class => "btn btn-small" %>
        <% end %>
      </div>
    </div>
    <div class="span7">
      <div class="admin-video-frame">
        <iframe 
          src="http://player.vimeo.com/video/<%=@video.id%>" 
          width="<%=@video.width%>" 
          height="<%=@video.height%>" 
          frameborder="0" 
          webkitAllowFullScreen mozallowfullscreen allowFullScreen>
        </iframe>
      </div>
    </div>
    <div class="span10">
      <div class="admin-video-cell-description well">
        <div class="row">
          <div class="span3">
            <blockquote>Location:</blockquote> 
            <p class="lead">
              <%=@video.location%>
            </p>
          <br/>
          </div>
          <div class="span7">
            <blockquote>Route:</blockquote>
            <p class="lead">
              <a href="/<%=@video.url_route%>" target="_blank">www.currentsessions.com/<%=@video.url_route%></a>
              <% if not @video.processed %>
                <em>(Not yet available)</em>
              <% end %>
            </p>
          </div>
        </div>
        <blockquote> Description: </blockquote>
        <p class="lead">
          <%=@video.description.html_safe%>
        </p>
      </div>
    </div>
  </div>
  <div class="admin-session-cell-photo-viewer">
    <ul class="thumbnails">
      <% @video.video_photos.each do |photo| %>
        <%= render :partial => 'partials/admin_session_cell_image', :object => photo %>
      <% end %>
    </ul>
  </div>
</div>