
<div class="row">
  <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3  col-xs-12">
    
    <div class="heading-image">
      <a href="/">
        <img src="/images/logos/current-sessions-logo2-inversed.png"/>
      </a>
    </div>
  </div>
</div>
<div class="navigation well">
  <div class="row">
    <div class="col-lg-3 col-sm-3 col-xs-6">
      <a href="/" data-page="sessions" class="span2 navigation-item selected" id="nav-sessions">
        Sessions
      </a>  
    </div>
    <div class="col-lg-3 col-sm-3 col-xs-6">
      <a href="/about" data-page="about" class="span2 navigation-item" id="nav-about">
        About
      </a>
    </div>
    <div class="col-lg-3 col-sm-3 col-xs-6">
      <a href="/contact" data-page="contact" class="span2 navigation-item" id="nav-contact">
        Contact
      </a>
    </div>
    <div class="col-lg-3 col-sm-3 col-xs-6">
      <a href="/downloads" data-page="blog" class="span2 navigation-item" id="nav-blog">
        Downloads
      </a>
    </div>
  </div>
</div>

<br />
<br />

<div class="session-player">
  <div class="page-header"> 
    <h1><%=@video.title%><small>&nbsp;&nbsp;<%=@video.location%></small></h1>
  </div>
  
    
  <iframe
    src="http://player.vimeo.com/video/<%=@video.id%>?portrait=0" 
    width="700px" 
    height="400px"
    frameborder="0"
    webkitAllowFullScreen mozallowfullscreen allowFullScreen>
  </iframe>

  <hr/>
  <div id="player-description"><%=@video.description.html_safe%></div>
  <hr/>
  <div class="session-player-image-viewer"> 
    <div id="playerCarousel" class="carousel slide">

      <div class="carousel-inner">
        <% @video.video_photos.each_with_index do |photo, index| %>
          <div class="item<%= ' active' if index == 0%>">
            <img src="<%=photo.photo(:large)%>" width="800px" height="658px" alt="" class="img-rounded">
          </div>
        <% end %>
      </div>
      <a class="carousel-control left" href="#playerCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#playerCarousel" data-slide="next">&rsaquo;</a>
    </div>
  </div>
 

</div>
