
<div class="heading-image">
  <img src="/images/logos/current-sessions-logo2-inversed.png"/>
</div>

<div class="navigation well">
  <div class="row">
    <a href="/" data-page="sessions" class="span2 navigation-item selected" id="nav-sessions">
      Sessions
    </a>
    <a href="/about" data-page="about" class="span2 navigation-item" id="nav-about">
      About
    </a>
    <a href="/contact" data-page="contact" class="span2 navigation-item" id="nav-contact">
      Contact
    </a>
    <a href="/blog" data-page="blog" class="span2 navigation-item" id="nav-blog">
      Blog
    </a>
  </div>
</div>

<br />
<br />

<div class="session-player">
  <div id="player-intro">
    <h2><%=@video.title%></h2>
    <p><%=@video.location%></p>
  </div>

  <iframe
    src="http://player.vimeo.com/video/<%=@video.id%>?portrait=0" 
    width="600" 
    height="400" 
    frameborder="0"
    webkitAllowFullScreen mozallowfullscreen allowFullScreen>
  </iframe>

  <div id="player-description"><%=@video.description.html_safe%></div>
  <div class="session-player-image-viewer"> 
    <div id="playerCarousel" class="carousel slide">

      <div class="carousel-inner">
        <% @video.video_photos.each_with_index do |photo, index| %>
          <div class="item<%= ' active' if index == 0%>">
            <img src="<%=photo.photo(:large)%>" width="800px" height="658px" alt="" class="img-rounded">
          </div>
        <% end %>
      </div>
      <a class="carousel-control left" href="#playerCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#playerCarousel" data-slide="next">&rsaquo;</a>
    </div>
  </div>

  <a class="btn btn-inverse btn-block" href="/"> Sessions </a>
</div>