<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Access-Control-Allow-Origin" content="*"> 
    
    <% unless @video.nil?%>
      <% img = @video.video_photos.first %>
      <% unless img.nil? %>
        <meta property="og:image" content="<%= img.photo(:large) %>"/>
        <meta property="og:image:secure_url" content="<%= img.photo(:large) %>" />
      <% end %>
    <% end %>

    <title>Current Sessions</title>
    <link rel="shortcut icon" href="/images/logos/browser-icon.png"/>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37645601-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>

    <div id="wrap">
      <%= yield %>
    </div>

    
  </body>
</html>
